<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShakeMotion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D1DDD581F86028C000067A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D1DDD711F86028C000067A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D1DDD7C1F86028C000067A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
